@font-face
{
    font-family: "B Yekan";
    src: url("../font/BYekan.ttf");
}


body {
    padding-top: 5rem;
    position: relative;
}

.yekan
{
    font-family: "B Yekan", serif;
}

.bk-nav-link
{
    color: #FFFFFF;
}
.bk-nav-link:hover
{
    color: #bf360c;
}

/*** Body ***/
.wrapper
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.card-title
{
    text-align: center;
}






/********** Sidebar ***********/
@media (min-width: 0)
{
    .bk-sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #FFFFFF;
        height: 100%;
        padding-top: 1rem;
        border-left: 1px #BDBDBD solid;
        border-bottom: 1px #BDBDBD solid;
        margin-right: -250px;
        margin-bottom: 2rem;
    }

}


@media (min-width: 576px)
{
    .bk-sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #FFFFFF;
        height: 100%;
        padding-top: 1rem;
        border-left: 1px #BDBDBD solid;
        border-bottom: 1px #BDBDBD solid;
        margin-right: 0;
        margin-bottom: 2rem;
    }
}
.bk-sidebar-header
{
    color: #757575;
    text-align: center;
}

.bk-sidebar .sidebar-item
{
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 1px #E5E5E5 solid;
    height: 3rem;
}

.bk-sidebar .sidebar-item-selected
{
    background-color: #F5F5F5;

}

.bk-sidebar .sidebar-item:hover
{
    background-color: #F5F5F5;
}






/** Material Design icons **/
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}









@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px);
    }
}
