@model Bekhar.Models.Kala

@{
    Page.Title = "ثبت آگهی جدید";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h3 class="text-center py-3 my-1 grey-text">
            ثبت آگهی جدید
        </h3>
        
        <!--
        <div class="jumbotron">
            <p>
                
            </p>
        </div>
        -->

        <div class="jumbotron">
            <!--
                
            <div class="row">
                <div class="col form-group">
                    <label for="city">شهر</label>
                    <select class="form-control" id="city">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label for="position">محدوده آگهی</label>
                    <select class="form-control" id="position">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            -->
            <!--
            <div>
                تصاویر
                <input type="file" class="form-control-file" style="direction: rtl">

                <!--<label class="btn btn-outline-secondary active">-->
                <!--<input type="radio" name="options" id="option1" autocomplete="off" checked>-->
                <!--درخواستی-->
                <!--</label>-->
                <!--<input type="file" class="form-control-file" style="direction: rtl">-->

            <!--
            </div> -->

            <!--
            <div style="padding-bottom: 50px;padding-top:50px">
                سازنده
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonProducer"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonProducer">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            -->
                        <!--

            <div style="direction: rtl">
                <label for="radioButton">نوع آگهی</label>

                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioButton">
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        درخواستی
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> فروشی
                    </label>
                </div>
            </div>
            -->
            <div>
                <div class="form-group">
                    <label for="adTitle">عنوان آگهی</label>
                    <input type="text" class="form-control" name="Name">
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="adDescription">توضیحات آگهی:</label>
                    <textarea class="form-control" rows="5" name="Description"></textarea>
                </div>
            </div>


            <div>
                <div class="form-group">
                    <label for="price">قیمت</label>
                    <input type="text" class="form-control" name="Price">
                </div>
            </div>
            
            <div>
                <div class="form-group">
                    <label for="phoneNumber">شماره موبایل</label>
                    <input type="text" class="form-control" name="Mobile">
                </div>
            </div>
            
            <div>
                <div class="form-group">
                    <label for="email">ایمیل</label>
                    <input type="text" class="form-control" name="Email">
                </div>
            </div>
            <div class="row mr-1" style="direction:ltr;">
                <input type="submit" class="btn deep-orange" value="ثبت آگهی" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}