@model Bekhar.Models.ChangePasswordViewModel
@{
    Page.Title = "تغییر رمز";
}

<div class="container mt-5 mx-auto" style="width:400px">
    <div class="card p-2">
            <h5 class="card-header text-center">تغییر رمز عبور</h5>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "p-0", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })


            <div class="input-group mb-2">
                <input class="form-control" id="Password" name="OldPassword" type="password" placeholder="رمز عبور قبلی">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
            </div>

            <div class="input-group mb-2">
                <input class="form-control" id="Password" name="NewPassword" type="password" placeholder=" رمز عبور جدید">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
            </div>

            <div class="input-group mb-2">
                <input class="form-control" id="Password" name="ConfirmPassword" type="password" placeholder=" تکرار رمز عبور جدید">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                    <input type="submit" value="تغییر رمز" class="btn btn-deep-orange" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}