<!doctype html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>بخر :: صفحه اصلی</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top yekan deep-orange lighten-1">
            <a class="navbar-brand white-text" href="index.html">
                <i class="fas fa-frog" style="font-size: 2rem;"><span class="yekan" style="margin-right: 1rem; vertical-align: top;">غوره</span></i>

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu-open"></i>
            </button>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link bk-nav-link" href="#">درباره ما <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bk-nav-link" href="#">تماس با ما</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                -->
            </ul>

            <!--
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">

            </div>
            -->
            <button class="btn btn-outline-white white-text yekan px-3">
                <span style="vertical-align: top; font-weight: bold; font-size: 1rem;"> آگهی جدید </span>
                <i class="fa fa-plus" style="font-size: 1.5rem; vertical-align: middle;"></i></button>
        </nav>
    </header>




    <main style="margin-top: 1.3rem;">
        <div class="wrapper">
            <!-- Sidebar Starts here -->
            <nav class="bk-sidebar pb-3">
                <div class="bk-sidebar-header">
                    <h5>دسته بندی کالاها</h5>
                </div>

                <ul class="list-group components">
                    <li class="list-group-item sidebar-item">
                        <span class="sidebar-item-text"> خونه </span>
                        <input type="checkbox" class="" />
                    </li>
                    <li class="list-group-item sidebar-item">
                        <span class="sidebar-item-text"> ماشین </span>
                    </li>
                </ul>
            </nav>

            <div class="container-fluid pt-4 px-4 yekan">
                <div class="card-deck">
                    <div class="card">
                        <div class="view overlay z-depth-1-half">
                            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="card-img-top" alt="">
                            <div class="mask rgba-white-light"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title flex-center">لپ تاپ ایسر</h4>
                            <!-- Text -->
                            <p class="card-text">این لپ تاپو تازه خریدم مدل aspire e1 هست و میخواستم که به سرعت  . . .</p>
                            <button class="btn btn-outline-deep-orange">خرید</button>
                        </div>
                    </div>
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>
