@{
    Page.Title = "صفحه اصلی";
}

<div class="wrapper">
    <!-- Sidebar Starts here -->
    <nav class="bk-sidebar pb-3">
        <div class="bk-sidebar-header">
            <h5>دسته بندی کالاها</h5>
        </div>

        <ul class="list-group components">
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> خونه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
        </ul>
    </nav>

    <div class="container-fluid pt-4 px-4 yekan">
        <div class="card-deck">
            @foreach (var kala in Model){
                <div class="card my-3">
                    <div class="view">
                        <img src="https://via.placeholder.com/250" class="card-img-top" alt="" style="height:250px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@kala.Name</h4>
                        <p class="card-text">@kala.Description</p>
                    </div>
                    <div class="card-footer p-1 d-flex" style="background:white;">
                        <div class="mr-auto my-auto pl-3 deep-orange-text">@kala.Price <span class="font-weight-bold">تومان</span></div>
                        <button class="btn btn-deep-orange font-weight-bold">خرید</button>
                    </div>
                </div>
            }       
        </div>
    </div>
</div>