
@{
    Page.Title = "صفحه اصلی";
}

<div class="wrapper">
    <!-- Sidebar Starts here -->
    <nav class="bk-sidebar pb-3">
        <div class="bk-sidebar-header">
            <h5>دسته بندی کالاها</h5>
        </div>

        <ul class="list-group components">
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> خونه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> لوازم آشپزخانه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> لوازم التحریر </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> کفش </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> پوشاک </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> یراق آلات </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> پارچه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> کتاب </span>
            </li>
        </ul>
    </nav>

    <div class="container-fluid pt-4 px-4 yekan">
        <form method="post" action="~/Home/Index" id="search-form">
            <div class="row jumbotron mx-2" style="height:150px">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="عنوان کالای مورد نظر را وارد کنید" aria-label="Recipient's username" aria-describedby="basic-addon2" name="keyword" />
                    <div class="input-group-append">
                        <button class="input-group-text deep-orange white-text px-4" id="basic-addon2" onclick="document.getElementById('search-form').submit();"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-deck">
            @foreach (var kala in Model)
            {
                <div class="card my-3">
                    <div class="view">
                        <img src="https://via.placeholder.com/250" class="card-img-top" alt="" style="height:250px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@kala.Name</h4>
                        <p class="card-text">@kala.Description</p>
                    </div>
                    <div class="card-footer p-1 d-flex" style="background:white;">
                        <div class="mr-auto my-auto pl-3 deep-orange-text">@kala.Price <span class="font-weight-bold">تومان</span></div>
                        <a class="btn btn-deep-orange font-weight-bold" href="~/Kala/Details/@kala.Id">خرید</a>
                    </div>
                </div>
                }       
        </div>
    </div>
</div>