@{
    Page.Title = "صفحه اصلی";
}

<div class="wrapper">
    <!-- Sidebar Starts here -->
    <nav class="bk-sidebar pb-3">
        <div class="bk-sidebar-header">
            <h5>دسته بندی کالاها</h5>
        </div>

        <ul class="list-group components">
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> خونه </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
            <li class="list-group-item sidebar-item">
                <span class="sidebar-item-text"> ماشین </span>
            </li>
        </ul>
    </nav>

    <div class="container-fluid pt-4 px-4 yekan">
        <div class="card-deck">
            <div class="card">
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="card-img-top" alt="">
                    <div class="mask rgba-white-light"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">لپ تاپ ایسر</h4>
                    <!-- Text -->
                    <p class="card-text">این لپ تاپو تازه خریدم مدل aspire e1 هست و میخواستم که به سرعت  . . .</p>
                    <button class="btn btn-outline-deep-orange">خرید</button>
                </div>
            </div>
            <div class="card">
            </div>
            <div class="card">
            </div>
            <div class="card">
            </div>
        </div>
    </div>
</div>